<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>ng-loaders</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <h2>Default Loader</h2>
      <p>This is the how the loader shows up based on the default config provided in the
        <code>forRoot</code> method in the
        <code>app.module</code> file.
      </p>
      <ngx-loader></ngx-loader>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <h2>Dynamically Changed</h2>
      <p>This is how you can change the color and type of the spinner if you need something other than the default.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <select #spinnerTypeSelect name="spinnerTypeSelect" id="spinner-type-select" class="custom-select" (change)="setSpinnerType(spinnerTypeSelect.value)">
        <option value="rotating-square">Rotating Square</option>
        <option value="rotating-dots">Rotating Dots</option>
        <option value="pulsing-circles">Pulsing Circles</option>
        <option value="growing-bars">Growing Bars</option>
        <option value="rotating-cubes">Rotating Cubes</option>
        <option value="growing-circle">Growing Circle</option>
        <option value="ellipsis">Ellipsis</option>
        <option value="cube-grid">Cube Grid</option>
      </select>
    </div>
    <div class="col">
      <select #spinnerColorSelect name="spinnerColorSelect" id="spinner-type-select" class="custom-select" (change)="setSpinnerType(spinnerColorSelect.value)">
        <option value="black">Black</option>
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="blue">Blue</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-loader [spinnerType]="spinnerTypeSelect.value" [spinnerColor]="spinnerColorSelect.value">
      </ngx-loader>
    </div>
  </div>
</div>
